<!DOCTYPE html>
<html>
<head>
    <title>Chart.js Example</title>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/datepicker-full.min.js"></script>
    <link rel="stylesheet" href="/static/css/datepicker.min.css">
    <link rel="stylesheet" href="/static/css/style.css">https://cdn.jsdelivr.net/npm/chart.js"https://cdn.jsdelivr.net/npm/chart.js"
</head>
<body>
  <form>
    <input type="text" name="after" class="after" value="01.01.2024"/>
    <input type="text" name="before" class="before" value="{{now.strftime('%d.%m.%Y')}}"/>
    <button type="button" name="redraw" id="redraw"  value="redraw">redraw</button>
  <hr>
  </form>

  <div class="chart_wrapper">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <script src="/static/js/app.js"></script>
</body>
</html>

